
.contenedorGeneralEliminarLibro{
    display: flex;
    justify-content: center;
}

.contenedorEliminarLibro{
    display: inline-block;
    
}

.contenedorEliminarLibro input{
   
    margin-top: 6em;
    width: 15em;
}


.contenedorEliminarLibro button{
    margin-top: 3em;
    
}