<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="contenedorGeneralEliminarLibro">

    <div class="contenedorEliminarLibro">
        <div>
            <input type="text" class="valorInput" placeholder="ingrese id del libro a eliminar">
        </div>
        <div>
            <button class="btn btn-primary" (click)="eliminarLibroComponente()">Eliminar</button>
        </div>
        
        

    </div>

</div>
</body>
</html>
