<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 

<div class="contenedorGeneral">

  <div class="libro" *ngFor="let post of post">
  
    <h3> ID Libro:  {{post.idLibro}}</h3>
    <h3> Nombre: {{post.nombre}}</h3>
    <h3> Autor: {{post.autor}}</h3>
    
  
   <img src="{{post.imagenLibro}}" width="300" height="373">

   
  
  
  </div>


</div>




</body>



</html>

