<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="contenedorActualizar">

    <input type="text" placeholder="Nombre Libro" class="nombreLibroActualizar">
    <input type="text" placeholder="Autor" class="nombreAutorActualizar">
    <input type="text" placeholder="idLibro" class="idLibroActualizar">

    <button (click)="onUpdate()">Actualizar</button>

</div>
</body>
</html>
