.contenedorGeneralActualizarLibro{
    display: flex;
    justify-content: center;
}


.contenedorActualizar{
    display: inline-block;
    
}

.contenedorActualizar input{
   margin-top: 3em;
   width: 18em;
}


.divBoton{
    margin-top: 3em;
    
}

