<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="contenedorGeneralActualizarLibro">

        <div class="contenedorActualizar">

            <div>
                <input type="text" placeholder="Nombre Libro" class="nombreLibroActualizar">
            </div>
            <div>
                <input type="text" placeholder="Autor" class="nombreAutorActualizar">
            </div>
            <div>
                <input type="text" placeholder="idLibro" class="idLibroActualizar">
            </div>
            
            
            <div class="divBoton">
            <button class="btn btn-primary" (click)="onUpdate()">Actualizar</button>
            </div>

        </div>

    </div>

</body>
</html>
