
.contenedorGeneralCrearLibro{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.contenedorInputs{
    display: inline-block;
    justify-content: center;
    
}

.contenedorInputs div{
    margin: 3em;
    
}

.nombre{
    width: 18em;
}

.autor{
    width: 18em;
}