<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="contenedorInputs">
        <div>
            <input type="text" class="nombre" placeholder="Introduzca nombre del Libro">
        </div>
        
        <div>
            <input type="text" class="autor" placeholder="Introduzca autor del Libro">
        </div>

        <div>
            <button (click)="crearLibroMetodoComponente()">Enviar</button>
        </div>

    </div>
    

    
    


</body>
</html>
